# System and IDE files
Thumbs.db
.DS_Store
.vscode/
.idea
*.log
src_old
*.old.js
phaserTilemapfix
*.zip
*.xcf
*.wav
legacy*
*.txt
*.docx
*.patch
*.bak*
*.old*
yarn.lock

# Vendors
node_modules/
higherVolume/

# Build
npm-debug.log
package-lock.json
build/
out/
dist/
dump/














